@model IEnumerable<demoTest.Models.User>
@{
    ViewBag.Title = "Home Page";
}
<div class="mar-top">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>S. no.</th>
                <th>Email</th>
                <th>Password</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
                foreach (var user in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@user.Email</td>
                        <td>@user.Password</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Home", new { id = user.Id }, null)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>